fastapi
uvicorn[standard]
websockets
requests
pydantic
pydantic-settings

scikit-learn
torch
torchvision
numpy
scipy
joblib

rasterio
opencv-python-headless
scikit-image

geopandas
shapely

apscheduler
python-dotenv
